[submodule "lib/hts_engine_API"]
	path = lib/hts_engine_API
	url = https://github.com/sudotac/hts_engine_API.git
	branch = add-support-for-musl-libc
[submodule "lib/open_jtalk"]
	path = lib/open_jtalk
	url = https://github.com/VOICEVOX/open_jtalk.git
